body {
    font-family: sans-serif;
    padding: 5%;
    background-image:linear-gradient(135deg, #d9d9d9, #ff6600);
}
.zagolovok{
    font-size:70px;
    text-align: center; 
    margin: 4px;
    text-shadow: -2px 6px rgb(68, 68, 236),
    -3px 12px rgb(189, 189, 223);

}
.navy a{
    text-decoration: none;
    font-size: 27px;
    color:black;
    border:double 5px orange;
    
}
.navy{
    justify-content:space-around;
    display: flex;
}
.navy a:hover{
    background-color:black ;
    color:white;
    transition: 1s ease-out;
    transform: scale(1.5);
}

.ul-ol{
    font-size: 30px;
    background-color: rgb(230, 212, 189);
    border-radius:70px;
    padding:60px;
    padding-left: 100px;
}


.navy a:focus{
    background-color: blue;
    color:black;
}
img{
    width: cover;
}
.pe{
   font-size: 20px; 
   text-align: center;
    background-color: aquamarine; 
}
.logo{
    width: 100px;
    height: 100px;
}


footer section{
    display: flex;
    flex-wrap: nowrap;
}
footer section div{
    width: 35%;
    font-size: 20px;
}
footer section div p{
    font-weight: 600;
}
